# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/qnodes\nodes/nodes.pro.user
*.user
/qnodes/doc
/qnodes/build*

/qnodes/sfl.ldb
